8bitsf.sf2
output.png
notes.md
.conda
__pycache__
*.mid
*.pkl
tutorial.py
.DS_Store
*.pkl
run_console.py
requirements.txt
*.png
logs/abletonosc.log
output.png
pythonosc/__init__.py
pythonosc/dispatcher.py
pythonosc/osc_bundle.py
pythonosc/osc_bundle_builder.py
pythonosc/osc_message.py
pythonosc/osc_message_builder.py
pythonosc/osc_packet.py
pythonosc/osc_server.py
pythonosc/parsing/__init__.py
pythonosc/parsing/ntp.py
pythonosc/parsing/osc_types.py
pythonosc/udp_client.py
tests/__init__.py
tests/test_application.py
tests/test_bundle.py
tests/test_clip.py
tests/test_clip_slot.py
tests/test_song.py
tests/test_track.py
tests/test_view.py
condaenv.6fmnh2k0.requirements.txt
data/.DS_Store
.DS_Store
__pycache__/inpaint.cpython-312.pyc
__pycache__/midi_util.cpython-312.pyc
abletonosc/__init__.py
abletonosc/application.py
abletonosc/clip.py
abletonosc/clip_slot.py
abletonosc/constants.py
abletonosc/device.py
abletonosc/handler.py
abletonosc/introspection.py
abletonosc/osc_server.py
abletonosc/song.py
abletonosc/track.py
abletonosc/view.py
data/output/inpainted.mid
data/output/combined.mid
data/input/test.wav
data/audio/midi_output.wav
data/audio/inpainted.wav
data/audio/combined.wav
output.png
data/output/inpainted.mid
data/output/combined.mid
data/audio/midi_output.wav
data/audio/inpainted.wav
data/audio/combined.wav
output.png
.DS_Store
__pycache__/inpaint.cpython-312.pyc
__pycache__/midi_util.cpython-312.pyc
client/__init__.py
client/client.py
data/.DS_Store
data/audio/combined.wav
data/audio/inpainted.wav
data/audio/midi_output.wav
data/output/combined.mid
data/output/inpainted.mid
output.png
Anticipatory_Music_Transformer.ipynb
json_data/
track_annotations.json
user_selections.json