[submodule "anticipation"]
	path = anticipation
	url = https://github.com/jthickstun/anticipation.git
[submodule "CMT-pytorch"]
	path = CMT-pytorch
	url = https://github.com/ckycky3/CMT-pytorch.git
[submodule "icm-deep-music-generation"]
	path = icm-deep-music-generation
	url = https://github.com/ZZWaang/icm-deep-music-generation
